@import "tailwindcss";

:root {
  font-family: system-ui, -apple-system, sans-serif;
  background-color: #ffffff; 
  color: #1a1a1a;
}

body {
  margin: 0;
  padding: 0;
  min-height: 100vh;
  width: 100%;
  background-color: #F8F9FE;
}

#root {
  width: 100%;
  min-height: 100vh;
}

/* Custom Scrollbar Styles */
.custom-scrollbar::-webkit-scrollbar {
  width: 6px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: transparent;
  margin: 12px 0;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background: #e2e8f0; 
  border-radius: 10px;
  border: 2px solid transparent;
  background-clip: padding-box;
}

.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background: #cbd5e1;
}